<div id="wrapper" class="animate">
    <nav class="navbar header-top fixed-top navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="#">Minhas Escolas</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav animate side-nav bg-primary">
                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link" routerLink="escolas" title="Dashboard"><i class="bi bi-house-fill"></i> Escolas <i class="bi bi-house-fill shortmenu animate"></i></a>
                </li>
                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link" routerLink="turmas" title="Cart"><i class="bi bi-card-checklist"></i> Turmas <i
              class="bi bi-card-checklist shortmenu animate"></i></a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container-fluid">
        <router-outlet></router-outlet>
    </div>
</div>